# Do not look upwards to include settings from other dirs
root = true

# Use Unix-style newlines with a newline ending every file
# and UTF-8 by default
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

#indent_style = tab
#tab_width = 4
#indent_style = space
#indent_size = 4

[*.groovy]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[Jenkinsfile*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Windows style line endings for Gradlew bat file
[gradlew.bat]
end_of_line = crlf

# Use 4 spaces for indentation in Markdown files
[*.md]
indent_size = 4
